
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Quill Editor Styles */
.ql-editor {
  font-family: "Courier New", monospace !important;
  font-size: 18px !important;
  line-height: 34px !important;
  padding: 0 !important;
  color: #000000 !important;
}

.ql-container {
  border: none !important;
  font-family: "Courier New", monospace !important;
}

/* Show the toolbar and customize it */
.ql-toolbar {
  border: none !important;
  background-color: #1c1c1c !important;
  padding: 8px !important;
  border-radius: 4px !important;
  margin-bottom: 10px !important;
}

/* Hide all formatting options by default */
.ql-toolbar .ql-formats > * {
  display: none !important;
  color: white !important;
}

/*toolbar should not have rounded corners*/
.ql-toolbar {
   border-radius: 0 !important;  
}

/* Only show specific formatting buttons */
.ql-toolbar .ql-bold,
.ql-toolbar .ql-italic,
.ql-toolbar .ql-direction,
.ql-toolbar .ql-align {
  display: inline-block !important;
  color: white !important;
  fill: white !important;
}



.ql-toolbar button:hover {
  background-color: #333 !important;
}

.line-number {
  font-family: "Courier New", monospace;
  font-size: 18px !important;
  line-height: 34px !important;
}
